<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

<style>
.bootstrap-tagsinput {
  width: 100%
}
.bootstrap-tagsinput .tag {
  background: #ededed;
  border: 1px solid #d9d9d9;
  padding: 0 6px;
  margin-right: 2px;
  color: #555;
  border-radius: 4px;
}
</style>

<script>
    $('[data-role="tagsinput"][object]').tagsinput({
        itemValue: function(item) {
            return item;
        },
        itemText: function(item) {
            if (item.id) {
                return item.id;
            }
            let keys = Object.keys(item);
            if (keys.length === 0) {
                return '{}';
            }
            return keys[0] + ':' + item[keys[0]] + '...';
        }
    });
</script>