{{#is.ACCORDION}}
{{>buefy/element/accordion}}
{{/is.ACCORDION}}
{{#is.ADMIN_TYPE}}
{{>buefy/element/admin-type}}
{{/is.ADMIN_TYPE}}
{{#is.CAROUSEL_LIST}}
{{>buefy/element/carousel-list}}
{{/is.CAROUSEL_LIST}}
{{#is.CHECKBOX}}
{{>buefy/element/checkbox}}
{{/is.CHECKBOX}}
{{#is.COLOR_PICKER}}
{{>buefy/element/colorpicker}}
{{/is.COLOR_PICKER}}
{{#is.DATE_PICKER}}
{{>buefy/element/datepicker}}
{{/is.DATE_PICKER}}
{{#is.DATETIME_PICKER}}
{{>buefy/element/datetimepicker}}
{{/is.DATETIME_PICKER}}
{{#is.DROPDOWN}}
{{>buefy/element/dropdown}}
{{/is.DROPDOWN}}
{{#is.EMBEDDED}}
{{>buefy/element/embedded}}
{{/is.EMBEDDED}}
{{#is.FIELD}}
{{>buefy/element/field}}
{{/is.FIELD}}
{{#is.IMAGE}}
{{>buefy/element/image}}
{{/is.IMAGE}}
{{#is.INPUT}}
{{>buefy/element/input}}
{{/is.INPUT}}
{{#is.RANGE}}
{{>buefy/element/range}}
{{/is.RANGE}}
{{#is.SPAN}}
{{>buefy/element/span}}
{{/is.SPAN}}
{{#is.RADIO}}
{{>buefy/element/radio}}
{{/is.RADIO}}
{{#is.RELATION}}
{{>buefy/element/relation}}
{{/is.RELATION}}
{{#is.SELECT}}
{{>buefy/element/select}}
{{/is.SELECT}}
{{#is.SWITCH}}
{{>buefy/element/switch}}
{{/is.SWITCH}}
{{#is.TAGINPUT}}
{{>buefy/element/taginput}}
{{/is.TAGINPUT}}
{{#is.TAGLIST}}
{{>buefy/element/taglist}}
{{/is.TAGLIST}}
{{#is.TAGLIST_EMBEDDED}}
{{>buefy/element/taglist-embedded}}
{{/is.TAGLIST_EMBEDDED}}
{{#is.TAGLIST_RELATION}}
{{>buefy/element/taglist-relation}}
{{/is.TAGLIST_RELATION}}
{{#is.TEXTAREA}}
{{>buefy/element/textarea}}
{{/is.TEXTAREA}}
{{#is.TIME_PICKER}}
{{>buefy/element/timepicker}}
{{/is.TIME_PICKER}}
{{#is.VIDEO}}
{{>buefy/element/video}}
{{/is.VIDEO}}
