<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy@0.8.20/dist/buefy.min.css"
          integrity="sha384-slg9bj+h8/1ULXIpm0xlrgRgVJeW7637CVaI0S1jGQvX4S6fBKlFfy9HCanJejd4"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.5.94/css/materialdesignicons.min.css"
          integrity="sha384-rb4irtQ33JtgUicA4EN5VyBpKudjece2PH/kxKGamg3grJmkghrFNWtI+In7GFwB"
          crossorigin="anonymous">
    <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"-->
</head>

<body>
    <div id="app" class="container">
    {{#panel}}
    {{#tabs}}
        {{>buefy/tabs}}
    {{/tabs}}
    {{/panel}}
    </div>

    <script src="https://unpkg.com/vue@2.6.10"
            integrity="sha384-9u9lzb/hr8e14GLHe5TEOrTiH3Qtw5DX2Zw9X/g7cqj81W2McEMx5CKOszxdb8jg"
            crossorigin="anonymous"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy@0.8.20/dist/buefy.min.js"
            integrity="sha384-qjY6axZdefffnzfi3bo2qprYir9hrhtzbjTP6JVKxabGtk1z+KuH6Ww/XzIJRqQj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"
            integrity="sha384-hLzbDCl8NQhPSM4RaGXpfed+ihkiZc6a3yUwVFeTEtwnzeAFh80h/h5ouVI2M2HG"
            crossorigin="anonymous"></script>
    <script src="{{contextPath}}/buefy/modal.js"></script>
    <script src="{{contextPath}}/buefy/embedded.js"></script>
    <script src="{{contextPath}}/buefy/taglist-embedded.js"></script>
    <script src="{{contextPath}}/buefy/taglist-relation.js"></script>
    <script src="{{contextPath}}/buefy/relation.js"></script>
    <script src="{{contextPath}}/buefy/table.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsog@1.0.7/lib/JSOG.js"
            integrity="sha384-ijzLmP5T0xyADIO5GyHPPUMZgSo6HAjsL28mmNZIT7zEQf0X6Np+XIo03tPYoaKx"
            crossorigin="anonymous"></script>

    <script>
        var typeTable = createTableComponent('type-table');
        var typeModal = createModalComponent('type-modal');
        var embedded = createEmbeddedComponent('embedded');
        var relation = createRelationComponent('relation');
        var taglistEmbedded = createTaglistEmbeddedComponent('taglist-embedded');
        var taglistRelation = createTaglistRelationComponent('taglist-relation');
        new Vue({
            el: '#app',
            components: {
                typeTable: typeTable,
                typeModal: typeModal,
                embedded: embedded,
                relation: relation,
                taglistEmbedded: taglistEmbedded,
                taglistRelation: taglistRelation
            }
        });
    </script>

    <style>
    .scrollable { overflow: auto !important; }
    </style>
</body>
</html>