<b-table-column field="{{name}}" label="{{title}}" {{type}}{{#sortable}} sortable{{/sortable}}{{#centered}} centered{{/centered}}{{#width}} width="{{.}}"{{/width}}>
    {{OPEN}}props.props.row.{{name}} !== null && props.props.row.{{name}} !== undefined ? props.props.row.{{name}}{{#titleField}}.{{.}}{{/titleField}} : '' {{#filter}}|{{.}}{{/filter}}{{CLOSE}}
</b-table-column>