<div id="{{id}}">
    <div class="card">
        <div class="card-header p-0">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{id}}-body" aria-expanded="true" aria-controls="{{id}}-body">
                    {{title}}
                </button>
            </h5>
        </div>
        <div id="{{id}}-body" class="collapse" aria-labelledby="headingOne" data-parent="#{{id}}">
            <div class="card-body">
                {{#elements}}
                    {{>element}}
                {{/elements}}
            </div>
        </div>
    </div>
</div>