{{>dependencies/bootstrap4-tagsinput}}
{{>dependencies/bootstrap-select}}

<script src="/bootstrap-no-frameworks/addEmbedded.js"></script>
<script src="/bootstrap-no-frameworks/ajax.js"></script>
<script src="/bootstrap-no-frameworks/jquery-serialize-object.js"></script>
<script src="/bootstrap-no-frameworks/jquery-values.js"></script>
<script src="/bootstrap-no-frameworks/modal.js"></script>
<script src="/bootstrap-no-frameworks/plusminus-javascript.js"></script>
<script src="/bootstrap-no-frameworks/property-by-path.js"></script>
<script src="/bootstrap-no-frameworks/table.js"></script>
