{{#this.ACCORDION}}
    {{>accordion}}
{{/this.ACCORDION}}
{{#this.CARD}}
    {{>card}}
{{/this.CARD}}
{{#this.FORMROW}}
    {{>form-row}}
{{/this.FORMROW}}
{{#this.INPUT}}
    {{>input}}
{{/this.INPUT}}
{{#this.SELECT}}
    {{>select}}
{{/this.SELECT}}
{{#this.SWITCH}}
    {{>switch}}
{{/this.SWITCH}}
{{#this.TAGS}}
    {{>tags}}
{{/this.TAGS}}
{{#this.TAGSCARD}}
    {{>tagscard}}
{{/this.TAGSCARD}}
{{#this.TAGSTABLE}}
    {{>tagstable}}
{{/this.TAGSTABLE}}