{{#is.ACCORDION}}
    {{>accordion}}
{{/is.ACCORDION}}
{{#is.CARD}}
    {{>card}}
{{/is.CARD}}
{{#is.FORMROW}}
    {{>form-row}}
{{/is.FORMROW}}
{{#is.INPUT}}
    {{>input}}
{{/is.INPUT}}
{{#is.SELECT}}
    {{>select}}
{{/is.SELECT}}
{{#is.SWITCH}}
    {{>switch}}
{{/is.SWITCH}}
{{#is.TAGS}}
    {{>tags}}
{{/is.TAGS}}
{{#is.TAGSCARD}}
    {{>tagscard}}
{{/is.TAGSCARD}}
{{#is.TAGSTABLE}}
    {{>tagstable}}
{{/is.TAGSTABLE}}