<div class="custom-control custom-switch">
    <input name="{{name}}"{{#readonly}} disabled{{/readonly}} class="custom-control-input" type="checkbox" id="{{type}}-{{name}}-{{action}}">
    <label class="custom-control-label" for="{{type}}-{{name}}-{{action}}">
        {{#this.title}}{{.}}{{/this.title}}
    </label>
</div>