<input name="{{name}}"{{#readonly}} readonly{{/readonly}}{{#single}} single="true"{{/single}} data-role="tagsinput" tags="true" object class="form-control">
{{#type}}
<div dynamic>
    {{>table}}
</div>
{{/type}}