<div class="row">
    <div class="col-sm-11">
        <input name="{{name}}"{{#readonly}}
               readonly{{/readonly}} data-role="tagsinput" tags="true" object class="form-control">
    </div>
    {{^readonly}}
        <div class="col-sm-1">
            {{>add-button}}
        </div>
    {{/readonly}}
</div>
{{#card}}
    <div dynamic>
        {{>card}}
    </div>
{{/card}}