<div>
    {{#table}}
        {{>buefy/table}}
    {{/table}}
    {{#createModal}}
        {{>buefy/modal}}
    {{/createModal}}
    {{#updateModal}}
        {{>buefy/modal}}
    {{/updateModal}}
    {{#cloneModal}}
        {{>buefy/modal}}
    {{/cloneModal}}
    {{#deleteModal}}
        {{>buefy/modal}}
    {{/deleteModal}}
</div>